.about-grid-container {
    padding-top: 4.33%;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "about header"
    "main section";
    grid-template-columns: repeat(24, 1fr);
    /* box-sizing: border-box; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

.about-container {
    grid-area: about;
    border-bottom: 1px solid var(--my-blue);  
    grid-column: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.about-title {
    transform: rotate(-90deg);
    margin-top: 150%;
}

.header-container {
    grid-area: header;
    border: 1px solid var(--my-blue);
    grid-column: span 22;
}

.section-container {
    grid-area: section;
    border: 1px solid var(--my-blue);
}

.main-container {
    grid-area: main;
}

.grid-area {
    border: 1px solid var(--my-blue);
}


