.about-grid-container {
    padding-top: 14%;
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "row1"
                         "row2";
    grid-template-columns: repeat(12, 1fr);
}

.row1 {
    display: grid;
    width: 100vw;
    grid-area: row1;
    grid-template-areas: "about header";
    grid-template-columns: 1fr 11fr;



}

.row2 {
    display: grid;
    width: 100vw;
    grid-area: row2;
    grid-template-areas: "main section";
    grid-template-columns: 7fr 5fr;
}

.about-container {
    grid-area: about;
    border: 1px solid var(--my-blue);
    grid-column: span 1;

    
}

.about-title {
    /* transform: rotate(-90deg); */
}

.header-container {
    grid-area: header;
    grid-column: span 11;
    border: 1px solid var(--my-blue);
}

.section-container {
    grid-area: section;
    border: 1px solid var(--my-blue);
}

.main-container {
    grid-area: main;

}

.grid-area {
    border: 1px solid var(--my-blue);
}


