.nav {
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: end;
    display: inline-block;
}

.nav-items > li {
    padding: 0.5rem;
    display: inline-block;
}


