.nav {
    background-color: #fef0da;
    background-image: linear-gradient(to bottom right, #fef0da, #f8e2bf);
    /* background-image: url('../../assets/leather.png');
    opacity: 0.5; */
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > h1 {
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(44, 44, 44);
}


.nav-items {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    flex-direction: row;
    text-align: right;
    justify-content: end;
    display: inline-block;
}

.nav-items > li {
    padding: 0.7rem;
    font-size: 1.2rem;
    /* font-weight: bold; */
    display: inline-block;
    color: rgb(0, 0, 0);
}


