


.project-container {
    background-color: rgb(232,230,225);
    display: flex;
    /* position: relative; */
    /* align-items: center; */
    padding: 1rem;
    /* margin: 1rem 0; */
    text-align: right;

}


.project-icon {
    font-size: 2rem;
}

.right-render {
    flex-direction: row-reverse;
}

.left-render {
    flex-direction: row;
}

.title-link-container {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;

}


.nav-3 {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: fit-content;
  margin-top: 0px;
  background-color: #c9b28d;
  background-color: #a78041;
  opacity: 0.8;

}

  .right-render .img-container {
    order: 2;
 
  }
  
  .left-render .img-container {
    order: 1;
  }


 .right-render .text-content {
    position: absolute;
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgb(252,249,242, 0.97);
    border-radius: 2%;
    /* margin-right: 28rem; */
    width: 62vw;
    height: 33vh;
    box-shadow: 15px 15px rgba(123, 123, 123, 0.4) ;
  }

  .left-render .text-content {
    /* margin-left: 3rem; */
    position: absolute;
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgb(252,249,242, 0.97);
    border-radius: 2%;
    /* margin-right: 28rem; */
    width: 62vw;
    height: 33vh;
    box-shadow: 15px 15px rgba(123, 123, 123, 0.4) ;
  }
  
.right-render   .content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100vw;
    line-height: 1.4;

  }

  .left-render   .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    line-height: 1.4;
  }
  
  .content ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: right;
    justify-content: flex-end;
    margin-top: 0.9rem;
  }
  
.img-container img {
    width: 55vw;
    border-radius: 2%;
}

.description {
    margin-top: 1rem;
    font-size: 17px;
}

.technologies  {
    list-style: none;
    background-color: rgba(77, 77, 77, 0.8);
    /* opacity: 0.5; */
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
    margin-right: 12rem;
    height: auto;
    width: auto;
    position: absolute;
}

.technologies p {
    padding: 1.1rem;
    width: auto;
    display: block;
    color: #ffffff;
    /* text-align: center; */
}

.left-render .content {
  /* padding-left: 3rem;
  margin-left: 3rem; */
}