

/* rgb(237,235,229)
rgb(232,230,225) */
body {
    background-color: black;
}
.project-container {
    background-color: rgb(232,230,225);
    display: flex;
    /* align-items: center; */
    padding: 1rem;
    margin: 1rem 0;
}

.right-render {
    flex-direction: row-reverse;
}

.left-render {
    flex-direction: row;
}

  
  .right-render .img-container {
    order: 2;
  }
  
  .left-render .img-container {
    order: 1;
  }

  .left-render .content {
    padding-left: 3rem;
    margin-left: 3rem;
  }

  .text-content {
    border: 1px solid black;
    position: absolute;
    margin-top: 3rem;
    padding: 1.1rem;
    background-color: rgb(252,249,242);
  }

  .left-render .text-content {
    margin-left: 3rem;
  }
  
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  
  .content ul {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  
