

.nav-grid-container {
    /* background-color: #fef0da;
    background-image: linear-gradient(to bottom right, #fef0da, #f8e2bf); */
  /* background-image: url('../../assets/leather.png');
    opacity: 0.5; */
  /* height: 8vh; */

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 0px;
  /* justify-content: space-between; */
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--my-blue);
  position: fixed;
  z-index: 100;
  background-color: #f1f1f7;
  background-image: url(../../assets/clean-gray-paper.png);
  box-shadow: none;
  /* margin-top: -5%; */
  transition: all 0.3s;
  margin-top: 0;
  box-sizing: border-box;
}

.mode {
  padding: 1rem;
  padding-top: 1.3rem;
  padding-right: 0rem;
  padding-left: 2.4rem;
  margin-left: 0px;
  border-left: 1px solid var(--my-blue);
  /* grid-column: span 1; */
  grid-column-start: 19;
  grid-column-end: 20;

}

.scrolled {
  box-shadow: 1px 4px 1px 1px rgba(0, 0, 0, 0.2);
}


.nav-items {
  justify-content: end;
  align-items: center;
  list-style: none;
  grid-column: span 15;
  display: flex;
  padding-right: 13rem;
  grid-column-start: 3; 
  grid-column-end: 19;
}

.nav-items>li {
  padding: 1rem;
  padding-left: 2.5rem;
  text-decoration: none;
  grid-column: span 5;

}
/* 
.nav-items li:nth-child(1) {
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.nav-items li:nth-child(2) {
  grid-column-start: 3; 
  grid-column-end: 5; 
}

.nav-items li:nth-child(3) {
  grid-column-start: 5; 
  grid-column-end: 7; 
} */

.nav-items a:link,
.nav-items a:visited {
  color: black;
  text-decoration: none;

}

.name {
  padding: 1rem;
  padding-top: 1.3rem;
  padding-right: 3.4rem;
  padding-left: 2.6rem;
  border-right: 1px solid var(--my-blue);
  grid-column: span 2;  
  grid-column-start: 1; 
  grid-column-end: 3;

}


.link-icons {
  border-left: 1px solid var(--my-blue);
  /* align-items: flex-end; */
  margin-left: auto;
  /* grid-column: span 6; */
  grid-column-start: 20; 
  grid-column-end: 25;
}

.nav-icon {
  color: #333;
  /* set the color of the icon */
  font-size: 2.1rem;
  /* set the font size of the icon */
  /* padding: 0.5rem; */
  transition: color 0.3s ease;
  /* transition for hover effect */
  padding: 0.6rem;

}

.nav-icon:hover {
  color: #094b92;
  /* change the color when hover */
}

.nav-items>li>a:active {
  color: #04274d;
}

.nav-items>li>a:hover {
  color: #094b92;
}

.name:hover {
  color: #094b92;
}

.pdf {
  font-size: 1.8rem;
}

