

.jumbo {
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/image-assets/rotated-matt.png");
    background-size: 70%; 
    background-repeat: no-repeat;
    background-position-x: 167%;
    background-position-y: 70%;
    height: 100vh;
    z-index: -1; 
    /* border: 1px solid black; */
    /* justify-content: flex-end;
    align-items: flex-end; */

}

.jumbo-content {
    background-color: rgb(255, 244, 226, 1) ;
    /* background-image: url("../../assets/clean-gray-paper.png"); */
    padding: 5%;
    padding-right: 5%;
    display: inline-block;
    border-radius: 0 0 200px 0;
    margin-top: 5rem;
    height: 42vh;
    width: 60%;
    z-index: 1;
    position: relative;
}

.jumbo-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 200px 0;
    z-index: -1;
}



.jumbo-content h1 {
    margin-left: 2.7rem;
}

.mini-menu {
    position: relative;
    z-index: 1;
    border-radius: 5%;
    /* display: inline; */
    height: 45vh;
    box-shadow: -10px 10px rgb(0, 0, 0, 0.2);

    margin: 0%;
    margin-top: -5%;
    margin-left: 12%;
    padding: 2.5%;
    width: 81vh;
    background: linear-gradient(-170deg, #faf7ef 75%, rgb(230, 229, 225, 0.8) 50%);
    border-top: 0.5px solid black;
}

.mini-menu p {
    padding: 0.3rem;
    font-size: larger;
}

.jumbo-header {
    font-size: 6.5rem;
    z-index: 2;
    position: relative;
}


.jumbo-subheader {
    margin-top: 0.5% !important;
    text-align: left;
    font-size: 2rem;
    margin-left: 1.5rem;
}


.clean-grey {
    padding: 2rem;
    position: absolute;
    border-radius: 0 29% 0 0;
    height: 105vh;
    width: 58vw;
    padding-left: 15%;
    z-index: -1;

}

.icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    margin-top: 26rem;
}

.icon {
    font-size: 4rem;
    padding: 1rem;
    padding-top: 0rem;
    padding-right: 0.3rem;
    justify-content: space-evenly;
}

.button {
    margin-top: 2rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

