

body {
    /* background-color: aqua; */

    /* position: relative; */
}

.jumbo {
    /* text-align: right; */
    /* display: flex; */
    background-image: url("../../assets/image-assets/opcaity-down-matt-copy.png");
    background-size: 60%; 
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y: 60%;
    height: 100vh;
    z-index: -1; 
    border: 1px solid black;

}

.jumbo-content {
    background-color: #fff4e2;
    background-image: url("../../assets/clean-gray-paper.png");
    padding: 5%;
    padding-right: 10%;
    display: inline-block;
    border-radius: 0 0 200px 0;
    justify-content: flex-end;
    margin-top: 5rem;
    height: 68vh;
    z-index: 0;
}

.jumbo-header {
    font-size: 6.5rem;
    z-index: 2;
    position: relative;
}


.jumbo-subheader {
    margin-top: 0.5% !important;
    text-align: left;
    font-size: 3rem;
    margin-left: 1.5rem;
}

.jumbo-subsubheader {
    padding-top: 10%;
    font-size: 1.7rem;
}

.clean-grey {
    padding: 2rem;
    display: inline;
    position: absolute;
    border-radius: 0 29% 0 0;
    z-index: 1;

}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icon {
    font-size: 4rem;
    padding: 1.2rem;
    padding-top: 1.5rem;
    justify-content: space-evenly;
}