@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --my-blue: #4394c0;
    --my-turquoise: #14303f;
}

* {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}




body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f7;
    margin: 0;
}

*::before {
    content: none !important;
}