@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

.progress-body {

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: -10;
}

.progress-bar-container {

    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* .progress-container::before {
    content: '';
    don't forget to add an empty string as content on before and after pseudo-selectors
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%); 
    z-index: -1;
} */

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 10%;
    transform: translateY(-50%); 
    /* without having this transform the top of the progress bar would be at 50% so transform is making it so that the middle of the object is in the middle */
    z-index: -1;
    transition: 0.4s ease;
    /* when we do click previous or next we want the line to have a tranistion so that it doesn't immediately flip to the next */
}

.circle {
    background: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
    transform: none;
}